html,body{
    background:rgb(28, 95, 92);
    background-size: cover;
    margin:0;
    padding:0;
}
.app-wrap.main{
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    .app-container{
        .app-header{
            padding-top: 80px;
            box-sizing: border-box;
            .items{
                display: flex;
                justify-content: center;
                .tab{
                    position: relative;
                    padding: 0 20px;
                    box-sizing: border-box;
                    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
                    &::after{
                        content: '';
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        border-bottom: 20px solid rgb(255, 255, 255);
                        width: 0;
                        position: absolute;
                        display: none;
                        top: 180%;
                        left: 0; right: 0; 
                        margin: 0 auto;
                        transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
                     }
                    
                     .fas{
                        transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
                     }  
                    .fa-home{
                        font-size: 40px;
                        color:rgba(255, 255, 255, 0.548);
                    }
                    .fa-image{
                        font-size: 40px;
                        color:rgba(255, 255, 255, 0.548);
                    }
                    .fa-envelope{
                        font-size: 40px;
                        color:rgba(255, 255, 255, 0.548);
                    }
                   

                    &.active{
                        &:after{
                            display: block;
                            top: 164%;
                        }
                        .fa-home,
                        .fa-image,
                        .fa-envelope,
                        .fa-facebook-square{
                            color:#fff;
                        }
                    }
                    &:hover{
                        .fas,.fab{
                            color: #fff;
                        }
                    }
                }
                .item{
                    .fa-facebook-square{
                        font-size: 40px;
                        color:rgba(255, 255, 255, 0.548);
                        padding-left: 20px;
                        box-sizing: border-box;
                    }
                }
            }
        }

        .app-main{
            width: 100%;
            padding-top: 25px;
            box-sizing: border-box;
            .app-inner{
                width: 50%;
                margin: 20px auto;
                background-color: rgb(255, 255, 255);
                box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126), 
                            0 0.9px 1.7px rgba(0, 0, 0, 0.179), 
                            0 1.8px 3.5px rgba(0, 0, 0, 0.224), 
                            0 3.7px 7.3px rgba(0, 0, 0, 0.277), 
                            0 10px 20px rgba(0, 0, 0, 0.4);           
            }
        }

        #app-home{
            position: relative;
            display: table;
            width: 100%;
            height: 400px;
            .text{
                padding: 0 10px;
                box-sizing: border-box;
                display:table-cell; 
                vertical-align:middle; 
                h1{
                    font-size: 40px;                        
                }
                p{
                    color: rgb(161, 161, 161);
                    padding-top:20px;
                    box-sizing: border-box;
                }
            }
            img{
                position: absolute;
                top:0;right: 0;
                vertical-align: bottom;
            }
        }

        #app-photo{
            width: 100%;
            .photo-title{
                width: 88%;
                margin: 0 auto;
                h1{
                    font-size: 40px;
                    padding-top: 50px;
                    padding-bottom: 50px;
                    box-sizing: border-box;
                    
                }
                p{
                    font-size: 20px;
                    color: darkgray;
                    padding-bottom: 50px;
                    box-sizing: border-box;
                    line-height: 35px;
                }
            }
            .app-cont{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 auto;
                .app-col{
                    width: 250px;
                    height: 200px;
                    padding: 0 10px;
                    box-sizing: border-box;
                    margin-top: 10px;
                    img{
                        width: 100%;
                        vertical-align: bottom;
                    }
                }
            }
        }

        #app-contact{
            width: 100%;
            h1{
                font-size: 40px;
                padding-top: 50px;
                padding-bottom: 50px;
                padding-left: 50px;
                box-sizing: border-box;
            }
            .contact-inner{
                width: 90%;
                margin: 0 auto;
                .form-group{
                    width: 100%;
                    &.inline{
                        margin-left: -2px;
                        display: inline-block;
                        width: 50%;
                    }
                }    
                .placeholder{
                    color: #fff;
                }
                .but{
                    background:rgb(168, 167, 167);
                    border:0 none;
                    height: 50px;
                    cursor:pointer;
                    padding: 20px 50px;
                    box-sizing: border-box;
                    color:#777777;
                    &:hover{
                     background:rgb(28, 95, 92);
                     color:#fff;
                    }
                }
            }
        }
        input{
            margin: 10px 10px; 
            background:rgba(221, 221, 221, 0.747); 
            border:0 none;
            height: 50px;
            width: 100%;
            cursor:pointer;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            font-size: 17px;
            padding-left: 20px;
            box-sizing: border-box;
            &::-webkit-input-placeholder{
                color:#777777;
            }
            &:-moz-placeholder{
                color:#fff;
            }
            &::-moz-placeholder{
                color:#fff;
            }
            &:-ms-input-placeholder{
                color:rgb(255, 255, 255);
            }
        }
        .app-footer{
            width: 100%;
            height: 40px;
            .footer-text{
                P{
                    text-align: center;
                    color:rgba(204, 204, 204, 0.418);
                }
            }
        }
    }
}

.block {
    display: none;
    
}

.active{
    display: block;
}



