@charset "UTF-8";
html, body {
  background: #1c5f5c;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.app-wrap.main {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}
.app-wrap.main .app-container .app-header {
  padding-top: 80px;
  box-sizing: border-box;
}
.app-wrap.main .app-container .app-header .items {
  display: flex;
  justify-content: center;
}
.app-wrap.main .app-container .app-header .items .tab {
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.app-wrap.main .app-container .app-header .items .tab::after {
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid white;
  width: 0;
  position: absolute;
  display: none;
  top: 180%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.app-wrap.main .app-container .app-header .items .tab .fas {
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.app-wrap.main .app-container .app-header .items .tab .fa-home {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.548);
}
.app-wrap.main .app-container .app-header .items .tab .fa-image {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.548);
}
.app-wrap.main .app-container .app-header .items .tab .fa-envelope {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.548);
}
.app-wrap.main .app-container .app-header .items .tab.active:after {
  display: block;
  top: 164%;
}
.app-wrap.main .app-container .app-header .items .tab.active .fa-home,
.app-wrap.main .app-container .app-header .items .tab.active .fa-image,
.app-wrap.main .app-container .app-header .items .tab.active .fa-envelope,
.app-wrap.main .app-container .app-header .items .tab.active .fa-facebook-square {
  color: #fff;
}
.app-wrap.main .app-container .app-header .items .tab:hover .fas, .app-wrap.main .app-container .app-header .items .tab:hover .fab {
  color: #fff;
}
.app-wrap.main .app-container .app-header .items .item .fa-facebook-square {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.548);
  padding-left: 20px;
  box-sizing: border-box;
}
.app-wrap.main .app-container .app-main {
  width: 100%;
  padding-top: 25px;
  box-sizing: border-box;
}
.app-wrap.main .app-container .app-main .app-inner {
  width: 50%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126), 0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224), 0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
}
.app-wrap.main .app-container #app-home {
  position: relative;
  display: table;
  width: 100%;
  height: 400px;
}
.app-wrap.main .app-container #app-home .text {
  padding: 0 10px;
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  /* 打印效果 */
  /* 光標閃效果 */
}
.app-wrap.main .app-container #app-home .text h1 {
  font-size: 40px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.app-wrap.main .app-container #app-home .text .typing {
  width: 7em;
  color: #818181;
  white-space: nowrap;
  border-right: 2px solid transparent;
  animation: typing 3.5s steps(7, end) infinite, blink-caret 0.75s step-end infinite;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
  50% {
    width: 7em;
  }
  60% {
    width: 7em;
  }
  70% {
    width: 7em;
  }
  100% {
    width: 0;
  }
}
@keyframes blink-caret {
  from, to {
    box-shadow: 1px 0 0 0 transparent;
  }
  50% {
    box-shadow: 1px 0 0 0;
  }
}
.app-wrap.main .app-container #app-home img {
  position: absolute;
  top: 0;
  right: 0;
  vertical-align: bottom;
}
.app-wrap.main .app-container #app-photo {
  width: 100%;
}
.app-wrap.main .app-container #app-photo .photo-title {
  width: 88%;
  margin: 0 auto;
}
.app-wrap.main .app-container #app-photo .photo-title h1 {
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.app-wrap.main .app-container #app-photo .photo-title p {
  font-size: 20px;
  color: darkgray;
  padding-bottom: 50px;
  box-sizing: border-box;
  line-height: 35px;
}
.app-wrap.main .app-container #app-photo .app-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.app-wrap.main .app-container #app-photo .app-cont .app-col {
  width: 250px;
  height: 200px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 10px;
}
.app-wrap.main .app-container #app-photo .app-cont .app-col img {
  width: 100%;
  vertical-align: bottom;
}
.app-wrap.main .app-container #app-contact {
  width: 100%;
}
.app-wrap.main .app-container #app-contact h1 {
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  box-sizing: border-box;
}
.app-wrap.main .app-container #app-contact .contact-inner {
  width: 90%;
  margin: 0 auto;
}
.app-wrap.main .app-container #app-contact .contact-inner .form-group {
  width: 100%;
}
.app-wrap.main .app-container #app-contact .contact-inner .form-group.inline {
  margin-left: -2px;
  display: inline-block;
  width: 50%;
}
.app-wrap.main .app-container #app-contact .contact-inner .placeholder {
  color: #fff;
}
.app-wrap.main .app-container #app-contact .contact-inner .but {
  background: #a8a7a7;
  border: 0 none;
  height: 50px;
  cursor: pointer;
  padding: 20px 50px;
  box-sizing: border-box;
  color: #777777;
}
.app-wrap.main .app-container #app-contact .contact-inner .but:hover {
  background: #1c5f5c;
  color: #fff;
}
.app-wrap.main .app-container input {
  margin: 10px 10px;
  background: rgba(221, 221, 221, 0.747);
  border: 0 none;
  height: 50px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  padding-left: 20px;
  box-sizing: border-box;
}
.app-wrap.main .app-container input::-webkit-input-placeholder {
  color: #777777;
}
.app-wrap.main .app-container input:-moz-placeholder {
  color: #fff;
}
.app-wrap.main .app-container input::-moz-placeholder {
  color: #fff;
}
.app-wrap.main .app-container input:-ms-input-placeholder {
  color: white;
}
.app-wrap.main .app-container .app-footer {
  width: 100%;
  height: 40px;
}
.app-wrap.main .app-container .app-footer .footer-text P {
  text-align: center;
  color: rgba(204, 204, 204, 0.418);
}

.block {
  display: none;
}

.active {
  display: block;
}