@media screen and (max-width: 480px){
    .app-wrap.main{
        .app-container{
            .app-content{
                .col{
                    .item{
                        height: 80px;
                        .font{
                            padding: 30px 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px){
    .app-wrap.main{
        .app-container{
            .sidebar{
                width: 100%;
                top:0;
                &:hover{
                    width: 100%;
                    background-color: transparent; 
                }
            }
        }
    }
}